<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title> Home </title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" /> 
    
    <style>
		body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-image: url("https://i.pinimg.com/736x/09/1d/4f/091d4f1bebc76ea61eec0b9d8af26e5f.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      height: 100vh; /* Ensure the body takes up the full height of the viewport */
      display: flex;
      flex-direction: column;
      align-items: center; /* Center content vertically */
      justify-content: center; 
    }
		
		
	</style>
    
    
    



</head>
<body>
    <div class="container text-center">
		<div>
			
			<h1>Welcome to Program committe</h1>
			
		</div>
                 
                <h3><a th:href="@{/register}">Register</a></h3>

                <h3><a th:href="@{/login}">Login</a></h3>
                               
                <h3><a th:href="@{/list_users}">List All Users</a></h3>


    </div>
     
</body>
</html> 